<ion-view>

    <ion-nav-buttons side="right" class="custom_padding_header">
         <p>
         <a class="button button-clear header-text" href="#/app/register">Register</a> 
         <a class="button button-clear header-text">|</a>
         <a class="button button-clear header-text" href="#/app/landing">Login</a>
         </p>

    </ion-nav-buttons>  

  <ion-content>

			<div class="image-full-width-text" style="background-image: url('img/thankyouIncidentLogo.png'); background-repeat: no-repeat; background-size: contain;">	
			</div>	

			<div class="spacer" style="height: 60px;">	
			</div>			


			<div class="row" style="padding: 0px">
				<div class="col" style="height: 140px; width: 50px !important; background-image: url('img/facebook.png'); background-size: cover; background-repeat: no-repeat">
				</div>	
				<div class="col" style="height: 140px; width: 50px !important; background-image: url('img/twitter.png'); background-size: cover; background-repeat: no-repeat"> 
				</div>	
			</div>

			<div class="row" style="padding: 0px; margin-top: 0px;">
				<div class="col" style="height: 140px; width: 50px !important; background-image: url('img/googlePlus.png'); background-size: cover; background-repeat: no-repeat">
				</div>	
				<div class="col" style="height: 140px; width: 50px !important; background-image: url('img/socialMail.png'); background-size: cover; background-repeat: no-repeat">
				</div>	
			</div>

  </ion-content>
</ion-view>
