<ion-view>

    <ion-nav-buttons side="right" class="custom_padding_header">
         <p>
         <a class="button button-clear header-text" href="#/app/register">Register</a> 
         <a class="button button-clear header-text">|</a>
         <a class="button button-clear header-text" href="#/app/landing">Login</a>
         </p>
		
    </ion-nav-buttons>  

  <ion-content>


			<div class="landing-logo"></div>	

			<div class="row" style="padding: 0px; padding-top: 20px;">
				<div class="col" style="height: 110px; width: 50px !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;" ng-click="gotoEmergency()">
					<img src="img/emergency-contact-icon.png" style="height: 35%; margin-top: 5%; width: 20%; margin-left: auto; margin-right: auto; display: block;">
					<p style="text-align: center; color: #ffffff !important;">CONTACT 
						<b style="color: #ffffff !important;">EMERGENCY</b> SERVICES
					</p>
				</div>	
				<div class="col" style="height: 110px; width: 50px !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/learn-more-about-city-icon.png" style="height: 35%; margin-top: 5%; width: 40%; margin-left: auto; margin-right: auto; display: block;">
					<p style="text-align: center; color: #ffffff !important;">LEARN MORE ABOUT THE 
						<b style="color: #ffffff !important;">CITY</b>
					</p>
				</div>	
			</div>

			<div class="row" style="padding: 0px">
				<div class="col" style="height: 110px; width: 50px !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;" ng-click="gotoIncidents()">
					<img src="img/report-incidents-icon.png" style="height: 35%; margin-top: 5%; width: 20%; margin-left: auto; margin-right: auto; display: block;">
					<p style="text-align: center; color: #ffffff !important;">REPORT 
						<b style="color: #ffffff !important;">INCIDENTS</b>
					</p>
				</div>	
				<div class="col" style="height: 110px; width: 50px !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/things-to-do-icon.png" style="height: 35%; margin-top: 5%; width: 20%; margin-left: auto; margin-right: auto; display: block;">
					<p style="text-align: center; color: #ffffff !important;">
						<b style="color: #ffffff !important;">THINGS TO SEE</b> AND DO IN THE CITY
					</p>
				</div>		
			</div>

  </ion-content>
</ion-view>
