<ion-view>

    <ion-nav-buttons side="right" class="custom_padding_header">
         <p>
         <a class="button button-clear header-text" href="#/app/register">Register</a> 
         <a class="button button-clear header-text">|</a>
         <a class="button button-clear header-text" href="#/app/landing">Login</a>
         </p>
		
    </ion-nav-buttons>  

  <ion-content>

	<div class="full-image image-full-width" style="background-image: url('img/mayorsMessageLogo.png'); background-repeat: no-repeat; background-size: contain;">	
	</div>


<div class="list">

  <div class="item item-button-right card-no-margin">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-back" ng-click="gotoMayorsMessageList()">
     <p class="button-back-text"> Back </p>
    </button>
  </div>

  <div class="card emergency-card card-no-margin">
    <div class="item item-text-wrap">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus congue risus, ac vehicula lorem iaculis sodales. Etiam at nisl sed felis mattis porta at in nibh. Vivamus sit amet odio metus. Aliquam sollicitudin sem vitae risus consequat, non varius nisi volutpat. 
    </div>
    <div class="item item-text-wrap" style="background-image: url('img/maxresdefault.png'); background-repeat: no-repeat; background-size: cover; height: 140px;">
    </div> 
    <div class="item item-text-wrap">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rhoncus congue risus, ac vehicula lorem iaculis sodales. Etiam at nisl sed felis mattis porta at in nibh. Vivamus sit amet odio metus. Aliquam sollicitudin sem vitae risus consequat, non varius nisi volutpat. 
    </div> 
    <div class="item item-text-wrap blue-card">
    </div>  
    <div class="item item-text-wrap">
      Nullam porta tincidunt sapien eget malesuada. Donec sed ultrices quam. Mauris at pharetra leo, at rutrum nisi. Donec sit amet dui sit amet nunc dictum iaculis. Donec ac augue eget ipsum ullamcorper placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eget posuere sapien. Quisque a quam magna. Pellentesque at enim semper, tincidunt leo sed, luctus magna.Mauris porta ipsum a quam lobortis tristique. In sagittis aliquet ligula, id fermentum odio facilisis vel. Vivamus eu eros velit. Aliquam tincidunt leo nec ante fermentum hendrerit. Maecenas elementum, ante non luctus feugiat, neque nunc mattis nisl, vel imperdiet sapien nunc nec odio.
      Duis euismod pharetra euismod. Vivamus in nisl ac enim eleifend dignissim. Nam a pharetra diam. Integer pellentesque at metus vitae fermentum. Vivamus quis erat ligula. Maecenas vehicula nisl eu velit dapibus, non molestie lacus malesuada. Phasellus nec nisl fermentum, dictum justo ac, fringilla diam.
    </div>          
  </div>  

     

</div>

  </ion-content>
</ion-view>
