<ion-view>

    <ion-nav-buttons side="right" class="custom_padding_header">
         <p>
         <a class="button button-clear header-text" href="#/app/register">Register</a> 
         <a class="button button-clear header-text">|</a>
         <a class="button button-clear header-text" href="#/app/landing">Login</a>
         </p>
		
    </ion-nav-buttons>  

  <ion-content>

	<div class="full-image image-full-width" style="background-image: url('img/mayorsMessageLogo.png'); background-repeat: no-repeat; background-size: contain;">	
	</div>


<div class="list">

  <div class="item item-button-right">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-positive button-read-now" ng-click="gotoReadMayorsMessage()">
     <p class="button-read-now-text"> Read Now </p>
    </button>
  </div>

  <div class="item item-button-right">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-positive button-read-now" ng-click="gotoReadMayorsMessage()">
     <p class="button-read-now-text"> Read Now </p>
    </button>
  </div> 
 
  <div class="item item-button-right">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-positive button-read-now" ng-click="gotoReadMayorsMessage()">
     <p class="button-read-now-text"> Read Now </p>
    </button>
  </div>

  <div class="item item-button-right">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-positive button-read-now" ng-click="gotoReadMayorsMessage()">
     <p class="button-read-now-text"> Read Now </p>
    </button>
  </div>   

  <div class="item item-button-right">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-positive button-read-now" ng-click="gotoReadMayorsMessage()">
     <p class="button-read-now-text"> Read Now </p>
    </button>
  </div>

  <div class="item item-button-right">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-positive button-read-now" ng-click="gotoReadMayorsMessage()">
     <p class="button-read-now-text"> Read Now </p>
    </button>
  </div> 
 
  <div class="item item-button-right">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-positive button-read-now" ng-click="gotoReadMayorsMessage()">
     <p class="button-read-now-text"> Read Now </p>
    </button>
  </div>

  <div class="item item-button-right">
    Joburg City Opening <br/> 28 Jannuary 2016
    <button class="button button-positive button-read-now" ng-click="gotoReadMayorsMessage()">
     <p class="button-read-now-text"> Read Now </p>
    </button>
  </div>      

</div>

  </ion-content>
</ion-view>
