<ion-view>

    <ion-nav-buttons side="right" class="custom_padding_header">
         <p>
         <a class="button button-clear header-text" href="#/app/register">Register</a> 
         <a class="button button-clear header-text">|</a>
         <a class="button button-clear header-text" href="#/app/landing">Login</a>
         </p>
    
    </ion-nav-buttons>  

  <ion-content class="image-full-height">


			<div class="image-full-width-registerForm register-logo">	
			</div>	

			<div class="spacer" style="height: 20px;">	
			</div>


			<div class="list list-width">
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">First Name*</span>
			    <input type="text">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Last Name*</span>
			    <input type="text">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Username*</span>
			    <input type="text">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Email Address*</span>
			    <input type="Email">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Mobile Number (Optional)</span>
			    <input type="Number">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Password*</span>
			    <input type="password">
			  </label>	

			<div class="spacer" style="height: 15px;">	
			</div>

			  <div class="button-bar">
			    <a class="button button-twenty-five-percent border-button-white button-positive white-text" ng-click="gotoThankYou()">Register</a>
			    <a class="button button-seventy-five-percent border-button-white seperate-button-block  white-text transparent-background">Already registered? Login</a>
			  </div>	
	
		  		  			  
			</div>
			<button class="button button-clear button-positive"></button>


  </ion-content>
</ion-view>
 