<ion-view>

    <ion-nav-buttons side="right" class="custom_padding_header">
         <p>
         <a class="button button-clear header-text" href="#/app/register">Register</a> 
         <a class="button button-clear header-text">|</a>
         <a class="button button-clear header-text" href="#/app/landing">Login</a>
         </p>
		
    </ion-nav-buttons>  

  <ion-content>

			<div class="full-image image-full-width" style="background-image: url('img/reportIncidentLogo.png'); background-repeat: no-repeat; background-size: contain;">	
			</div>

			<div class="spacer" style="height: 20px;">	
			</div>

			<div class="row" style="padding: 0px">
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;" ng-click="gotoReportPothole()">
					<img src="img/pothole.png" style="height: 40%; margin-top: 5%; width: 45%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">POTHOLE</p>
				</div>	
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/trafficLight.png" style="height: 40%; margin-top: 5%; width: 25%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">TRAFFIC LIGHT</p>
				</div>	
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/streetLight.png" style="height: 40%; margin-top: 5%; width: 30%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">STREET LIGHT</p>
				</div>								
			</div>

			<div class="row" style="padding: 0px">
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/waterOutage.png" style="height: 40%; margin-top: 5%; width: 25%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">WATER OUTAGE</p>
				</div>	
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/powerOutage.png" style="height: 40%; margin-top: 5%; width: 40%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">POWER OUTAGE</p>
				</div>	
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/cableTheft.png" style="height: 40%; margin-top: 5%; width: 35%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">CABLE THEFT</p>
				</div>					
			</div>

			<div class="row" style="padding: 0px">
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/illegalDumping.png" style="height: 40%; margin-top: 5%; width: 50%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">ILLEGAL DUMPING</p>
				</div>	
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/graffiti.png" style="height: 40%; margin-top: 5%; width: 15%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">GRAFFITI</p>
				</div>	
				<div class="col" style="height: 100px; width: 33% !important; background-image: url('img/block-button.png'); background-repeat: no-repeat; background-size: cover;">
					<img src="img/criminalActivity.png" style="height: 40%; margin-top: 5%; width: 40%; margin-left: auto; margin-right: auto; display: block; margin-top: 20%;">
					<p style="text-align: center; color: #ffffff !important; margin-top: 5%;">CRIMINAL ACTIVITY</p>
				</div>					
			</div>			

			<button class="button button-block button-positive" style="color: #ffffff !important; margin-left: auto; margin-right: auto; width: 90%;">
			  Next
			</button>

  </ion-content>
</ion-view>
