<ion-view>

    <ion-nav-buttons side="right" class="custom_padding_header">
         <p>
         <a class="button button-clear header-text" href="#/app/register">Register</a> 
         <a class="button button-clear header-text">|</a>
         <a class="button button-clear header-text" href="#/app/landing">Login</a>
         </p>
    
    </ion-nav-buttons>  

  <ion-content class="image-full-height">


			<div class="image-full-width" style="background-image: url('img/reportIncidentLogo.png'); background-repeat: no-repeat; background-size: contain;">	
			</div>	

			<div class="spacer" style="height: 20px;">	
			</div>

			<div class="list list-width">
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">First Name*</span>
			    <input type="text">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Last Name*</span>
			    <input type="text">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Email Address*</span>
			    <input type="Email">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Mobile Number*</span>
			    <input type="Number">
			  </label>
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">Pothole</span>
			    <input type="text">
			  </label>	
			  <label class="item item-input margin-bottom-two-percent">
			    <span class="input-label">More details...</span>
			    <input type="text">
			  </label>				  

			  <div class="button-bar">
			  	<button class="button icon-left ion-location button-forty-five-percent blue-icon">
			  	<span class="white-text">Add my location</span>
			  	</button>
			    <button class="button button-forty-percent button-outline">Enter Address</button>
			  </div>	

			<div class="spacer" style="height: 10px;">	
			</div>
			
			  <div class="button-bar">
				  <button class="button button-outline button-seventy-five-percent" style="background-image: url('img/block-button.png'); background-size: cover" ng-click="gotoReportThankYou()">
				  	Submit my incident report
				  </button>
			  </div>
		  		  			  
			</div>
			<button class="button button-clear button-positive"></button>


  </ion-content>
</ion-view>
 