<ion-view>

    <ion-nav-buttons side="right" class="custom_padding_header">
         <p>
         <a class="button button-clear header-text" href="#/app/register">Register</a> 
         <a class="button button-clear header-text">|</a>
         <a class="button button-clear header-text" href="#/app/landing">Login</a>
         </p>
    
    </ion-nav-buttons>  

  <ion-content>

			  <div class="full-image image-full-height" src="../img/thank-you-register.png" style="background-image: url('img/thank-you-register.png'); background-repeat: no-repeat; background-size: cover;">	</div>

  </ion-content>
</ion-view>
 